.body1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 16px;
    margin-bottom: 32px;
    
}
.dry-img{
    width: 50%;
    max-width: 500px;
    margin: 0;

}
.body1-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left;
    display: flex;
    min-width: 100px;
}

.body1-para{
    display: flex;
    
    align-items: center;
    justify-content: center;
    color: #fff;
    
    
    padding-left:36px ;
    flex-direction: column;
}
.body1-heading{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 16px;
    
}

.body1-subHead{
    margin-top: 15px;
    font-size: 1.4rem;
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;
    
    max-width: 550px;
}


/* products section */

.product-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#BEC6A0;
    border-radius:40px;
    
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.temp-banner{
    font-family: "Dancing Script", cursive;
    font-size: 4.5rem;
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid #3C3D37; /* Cursor */
    animation: typeAndDelete 8s steps(13) infinite , blinkCursor 0.3s step-end infinite alternate;
}

@keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete {
    0%,
    5% {
      width: 0px;
    }
    45%,
    55% {
      width: 7.2em;
    } /* adjust width based on content */
    90%,
    100% {
      width: 0;
    }
  }

  @media screen and (max-width: 600px){
    .body1{
      flex-direction: column;
      margin-bottom: 64px;
      
    }
    .dry-img{
      width: 300px;
    }
    .body1-img{
      width: 100%;
      object-position: left;
    }
    .body1-subHead{
      font-size: 16px;
    }
    .body1-heading{
      font-size:3rem;
    } 
    .body1-para{
      justify-content: center;
      align-items: center;
    }
    
    .product-menu{
      height: 200px;
    }

    .temp-banner{
      font-family: "Dancing Script", cursive;
      font-size: 2.5rem;
      font-weight: 700;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      border-right: 0.1em solid #3C3D37; /* Cursor */
      animation: typeAndDelete 8s steps(16) infinite , blinkCursor 0.3s step-end infinite alternate;
  }
  
  @keyframes blinkCursor {
      50% {
        border-right-color: transparent;
      }
    }
    
    @keyframes typeAndDelete {
      0%,
      5% {
        width: 0px;
      }
      45%,
      55% {
        width: 7.2em;
      } /* adjust width based on content */
      90%,
      100% {
        width: 0;
      }
    }
}