.body1{
    display: flex;
    flex-direction: row;
}

.body1-para{
    display: flex;
    
    align-items: center;
    
    
    width: 100%;
    padding-left:36px ;
    flex-direction: column;
}
.heading{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 148px;
}
.subHead{
    
}

.body1-img{
    filter: brightness(1) invert(0);
    background-blend-mode: multiply;
}